#game_score{
  position:absolute;
  left:200px;
  top:100px;
}
#jQueryTabs1{
	position:absolute;
	left:63px;
	top:111px;
	width:880px;
	height:669px;
	z-index:3;
}
#wb_Text1{
	
	position:absolute;
	left:8px;
	top:22px;
	width:250px;
	height:112px;
	z-index:1;
}
#banner{
	position:absolute;
	left:63px;
	top:31px;
	width:888px;
	height:78px;
	z-index:4;
}
div#container{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body{
   background-color: #000000;
   background-image: url(images/indextetr_bkgrnd.png);
   background-repeat: repeat-x;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#jQueryTabs1.ui-widget{
   font-size: 1em !important;
}
#jQueryTabs1{
   padding: 4px 4px 4px 4px;
}
#jQueryTabs1 .ui-tabs-nav{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 0px 4px;
}
#jQueryTabs1 .ui-tabs-nav li{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0px 2px -1px 0px;
}
#jQueryTabs1 .ui-tabs-nav li a{
   padding: 8px 10px 8px 10px;
}
#jQueryTabs1, #jQueryTabs1 .ui-corner-all, #jQueryTabs1 .ui-corner-top{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#jQueryTabs1, #jQueryTabs1 .ui-corner-all, #jQueryTabs1 .ui-corner-bottom{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#jQueryTabs1 .ui-helper-reset{
   line-height: 16px;
}
#jQueryTabs1 .ui-tabs-panel{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Banner1{
   background-color: #000000;
   background: -moz-linear-gradient(top,#000000 0%,#4F4F4F 100%);
   background: -webkit-linear-gradient(top,#000000 0%,#4F4F4F 100%);
   background: -o-linear-gradient(top,#000000 0%,#4F4F4F 100%);
   background: -ms-linear-gradient(top,#000000 0%,#4F4F4F 100%);
   background: linear-gradient(top,#000000 0%,#4F4F4F 100%);
   border: 1px #4F4F4F inset;
   color: #00FF7F;
   font-family: Consolas;
   font-weight: bold;
   font-size: 53px;
   text-align: center;
}
#Banner1 span
{
   display: block;
   height: 53px;
   margin: 8px 0px 8px 0px;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div{
   text-align: left;
}

.pMap{
  position:absolute;
  left:50px;
  top:100px;
}
.pMap_borders{
  border:0px;
  border-collapse:collapse;
}
.gMap_borders{
  margin:auto;
  border:0px;
  border-collapse:collapse;
  align:center;
}
.animate{
    background:linear-gradient(to bottom,#7CEEB9,#4EEFA4) !important;
    transition:all 0.3s linear;
}
.block{
  	width:28px;
  	height:25px;
  	background:linear-gradient(to bottom,#A8CFF1,#81B6E4) !important;
	border:1px solid white;

}
.cell{
  	width:28px;
  	height:25px;
  	background:black;

}
