#game_score{
  position:absolute;
  left:200px;
  top:100px;
}
.pMap{
  position:absolute;
  left:50px;
  top:100px;
}
.pMap_borders{
  border:0px;
  border-collapse:collapse;
}
.gMap_borders{
  margin:auto;
  border:0px;
  border-collapse:collapse;
  align:center;
}
